<!--
// Copyright (c) Microsoft Corporation
// All rights reserved.
//
// MIT License:
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<html>
<head>
    <title>Test Dashboard</title>
</head>
<body>
    <!-- Simulate time trigger -->
    <h2>Simulate time trigger</h2>
    <p>Enter the API key and trigger date and time, then press "Simulate".</p>
    <p/>
    <div>Date: <input id="triggerDate" type="date"></input></div>
    <div>Time: <input style="width: 145" id="triggerTime" type="time" value="00:00"></input></div>
    <div><button onclick="trigger()">Simulate</button></div>
    <p id="divTriggerStatus"></p>

    <!-- Tenant admin consent -->
    <h2>Permissions</h2>
    <p>To manage teams, this app requires permissions that requires tenant administrator consent.</p>
    <button onclick="getAdminConsent()">Grant admin consent</button>

    <!-- User context information -->
    {{#if isUserContext}}
    <h2>User context</h2>
    {{#if name}}
    <p>The app will manage teams as {{name}} ({{upn}}).</p>
    <button onclick="setUserContext()">Change user</button>
    {{else}}
    <p>Click on the link below and login as the user whose identity the app will use to manage teams.</p>
    <button onclick="setUserContext()">Set user</button>
    {{/if}}
    {{/if}}

    <!-- Test setup commands -->
    <h2>Test setup commands</h2>
    <p>Delete all teams created by this app. It's recommended to archive all the teams first, by simulating a time trigger far into the future, before deleting all teams.</p>
    <button onclick="executeTestCommand('deleteTeams', 'delete created teams')">Delete created teams</button>
    <p>Re-create sample trips that depart on the 15th day of the next 12 months.</p>
    <button onclick="executeTestCommand('createTrips', 'create trips')">Create trips</button>
    <p id="divTestStatus"></p>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>
    <script type="text/javascript">
        // Trigger an update for a given date and time
        function trigger() {
            // Construct the trigger date and time
            let date = $("#triggerDate")[0].valueAsDate;
            let time = $("#triggerTime")[0].valueAsDate;
            date.setUTCHours(time.getUTCHours());
            date.setUTCMinutes(time.getUTCMinutes());

            // Trigger the update
            let status = "Simulating update for date " + date.toISOString() + "...";
            $("#divTriggerStatus").text(status);
            $.ajax({
                method: "POST",
                url: window.location.origin + "/api/updateTeams?date=" + date.toISOString(),
                beforeSend: function(request) {
                    request.setRequestHeader("X-Api-Key", "{{apiKey}}");
                },
                success: function (data) {
                    $("#divTriggerStatus").text(status + " Done!");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    $("#divTriggerStatus").text(status + " Error!");
                },
            });
        }

        // Start admin consent flow
        function getAdminConsent() {
            window.location.assign("/adminconsent/login");
        }

        // Set the user to be used by the app in user context
        function setUserContext() {
            window.location.assign("/usercontext/login");
        }

        // Execute a test command
        function executeTestCommand(command, description) {
            // Trigger the update
            let status = "Running command to " + description + "...";
            $("#divTestStatus").text(status);
            $.ajax({
                method: "POST",
                url: window.location.origin + "/test-dashboard/execute?command=" + command,
                success: function (data) {
                    $("#divTestStatus").text(status + " Done!");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    $("#divTestStatus").text(status + " Error!");
                },
            });
        }
    </script>
</body>
</html>